// Styling for the homepage

.view_home {

	// Hero
	.home_hero {
		position: relative;
		display: flex;
		align-items: center;
  		align-self: stretch;
  		gap: 80px;
  		min-height: 532px;
  		width: 100%;
  		justify-content: center;
		background: linear-gradient(320deg, rgb(98.35181728005409, 103.72326985001564, 246.60389453172684) 0%, rgb(117.00000062584877, 122.00000032782555, 255) 17.499999701976776%, rgb(64.65957999229431, 68.8354267179966, 179.91262435913086) 88.49999904632568%);
		padding: 100px 60px;

		// Content (Left)
		&-content {

			display: flex;
			flex-direction: column;
			gap: 30px;
			
			// Copy
			.content_copy {
				color: #fff;
				max-width: 40vw;
				display: flex;
			  	flex-direction: column;
			  	gap: 24px;

				// Main
				&-main {

				}
				// Secondary
				&-secondary {
					font-size: $font-size-18;
					line-height: $line-height-140;
					color: #BBBDFF;
					max-width: 80%;

					b {
						color: #fff;
					}
				}

			}

			// CTAs
			.content_ctas {
				display: inline-flex;
			  	flex: 0 0 auto;
			  	gap: 15px;
			}
		}

		// Visual (Right)
		&-visual {

			img {
				max-width: 40vw;
				height: auto;
			}
		}

	}
}