// Styling for the homepage

.view_home {

	.home_services {
		position: relative;
		display: flex;
		align-items: center;
  		align-self: stretch;
  		flex-direction: column;
  		justify-content: center;
  		gap: 80px;
  		width: 100%;
  		padding-top: 85px;
  		padding-bottom: 100px;

  		// Intro
  		&-intro {
  			display: flex;
  			align-items: flex-start;
  			flex: 0 0 auto;
			flex-direction: column;
			gap: 20px;
			padding-left: 10vw;
			padding-right: 10vw;
			text-align: center;

			.intro_title, .intro_subtitle {
				align-self: stretch;
			}

			.intro_title {
				color: $font-color-dark;
			}
			.intro_subtitle {
				color: $font-color-reg;
				font-size: $font-size-16;
				line-height: $line-height-140;
			}
  		}

  		// Services grid
  		&-grid {
  			display: flex;
  			position: relative;
			flex: 0 0 auto;
			flex-direction: column;
			gap: 60px;
			justify-content: center;
			align-items: center;

			// Grid block
			.grid_blk {
				position: relative;
				display: flex;
				flex: 0 0 auto;
				gap: 60px;
				justify-content: center;
				align-items: center;
				padding-left: 10vw;
				padding-right: 10vw;

				&-01, &-03 {
					flex-direction: row;
				}
				&-02 {
					flex-direction: row-reverse;
				}

				// Content
				&-content {
					display: flex;
					position: relative;
					flex-direction: column;
					align-items: flex-start;
					flex-grow: 1;
					gap: 16px;
					justify-content: center;

					// Title
					.content_title {
						color: $font-color-dark;
					}

					// Copy
					.content_copy {
						color: $font-color-reg;
						font-size: $font-size-14;
						line-height: $line-height-140;

						b {
							color: $font-color-dark;
						}
					}

					// CTAs
					.content_ctas {
						display: inline-flex;
					}
				}

				// Visual
				&-visual {

				}
			}
  		}
	}
}

