// Import core
@use '../core/main' as core;

// Styling for the homepage

.view_home {

	// Intro for both services and testimonials
	.home_intro {

		@media screen and (max-width: 680px) {
			align-items: center;

			.intro_title, .intro_subtitle {
				text-align: center;
			}
		}

		.intro_title {
			color: core.$font-color-dark;
		}
		.intro_subtitle {
			color: core.$font-color-reg;

			b {
				color: core.$font-color-dark;
			}
		}
	}

	// Services section
	.home_services {

  		// Services grid
  		&-grid {
  			display: flex;
  			position: relative;
			flex: 0 0 auto;
			flex-direction: column;
			gap: 60px;
			justify-content: center;
			align-items: center;

			padding-left: 10px;
			padding-right: 10px;

			@media screen and (min-width: 1001px) {
				padding-left: 5vw;
				padding-right: 5vw;
			}
			@media screen and (min-width: 680px) and (max-width: 1000px) {
				padding-left: 8vw;
				padding-right: 8vw;
			}

			// Grid block
			.grid_blk {
				position: relative;
				display: flex;
				flex: 0 0 auto;
				flex-direction: row;
				gap: 30px;
				align-items: center;

				@media screen and (min-width: 680px) {
					padding: 30px;
					border-radius: 30px;

					// Transition
					transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;

					transform: translateY(0px);

					&:hover {
						background-color: #fbfbfb;
						transform: translateY(4px);
					}
				}	
				
				@media screen and (max-width: 680px) {
					flex-direction: column;
					align-items: center;
					gap: 20px;

					.grid_blk-visual {
						width: 100px;
					}
					.grid_blk-content {
						align-items: center;

						.content_copy {
							text-align: center;
						}
					}
				}


				&-02 {

					@media screen and (min-width: 1000px) {
				    	flex-direction: row-reverse;

						// Text-align from right
						.grid_blk-content {
							align-items: flex-end;
							text-align: right;
						}
				    }
					
				}

				// Content
				&-content {
					display: flex;
					position: relative;
					flex-direction: column;
					align-items: flex-start;
					flex-grow: 1;
					gap: 16px;
					justify-content: center;

					// Title
					.content_title {
						color: core.$font-color-dark;
					}

					// Copy
					.content_copy {
						color: core.$font-color-reg;
						font-size: core.$font-size-14;
						line-height: core.$line-height-140;

						b {
							color: core.$font-color-dark;
						}
					}

					// CTAs
					.content_ctas {
						display: inline-flex;
					}
				}
			}
  		}
	}

	// Testimonials section
	.home_testimonials {
		border-top: 1px solid #e7e7e7;

		// Grid
		&-grid {
			display: flex;
			overflow: hidden;
			flex-direction: column;
			position: relative;
			width: 100%;
			height: 380px;

			@media screen and (max-width: 1280px) {
				height: 760px;
			}
			@media screen and (max-width: 620px) {
				height: 880px;
			}
			@media screen and (max-width: 450px) {
				height: 1000px;
			}

			.grid_container {

				display: flex;
				position: absolute;
				top: 0; left: 0;
				width: 100%;
				gap: 48px;
				height: 80%;
				transform: translateX(100%);

				@media screen and (max-width: 1280px) {
			    	flex-direction: column;

			    	.testimonial_blk {
			    		width: 100% !important;
			    	}
			    }

			    // Transition
				transition: transform .3s ease-in-out;
				-moz-transition: transform .3s ease-in-out;
				-webkit-transition: transform .3s ease-in-out;

				&.active {
			      transform: translateX(0);
			    }

				&.slide-left {
			      transform: translateX(-100%);
			    }

			    &.slide-right {
			      transform: translateX(100%);
			    }

				// Block
				.testimonial_blk {
					border: 1px solid;
					border-radius: 8px;
					padding: 24px;
					width: calc((100% / 3) - 48px);
					min-height: 300px;

					// Transition
					transition: all .2s ease-in-out;
					-moz-transition: all .2s ease-in-out;
					-webkit-transition: all .2s ease-in-out;

					transform: translateY(0px);

					&:hover {
						transform: translateY(4px);
					}

					@media screen and (min-width: 620px) and (max-width: 1480px) {
				      min-height: 200px;
				    }

				    @media screen and (max-width: 620px) {
				      min-height: 240px;
				    }

				    @media screen and (max-width: 450px) {
				      min-height: 280px;
				    }

					// Styling for each block
					&-01, &-04, &-07 {
						border-color: #FADBC0;
						background-color: #FFF8F1;

						.author_country {
							color: #B97840;
						}
					}
					&-02, &-05, &-08 {
						border-color: #C6C8F8;
						background-color: #F5F5FF;

						.author_country {
							color: #5559CD;
						}
					}
					&-03, &-06, &-09 {
						border-color: #FFD6D6;
						background-color: #FFF7F7;

						.author_country {
							color: #E95555;
						}
					}

				}
			}
			// Nav
			.navigation {
				display: flex;
				justify-content: center;
				gap: 10px;
				position: absolute;
				bottom: 20px;
				left: calc(50% - 28px);

				.circle {
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: rgba(0, 0, 0, 0.1);
					cursor: pointer;
					// Transition
					transition: transform .2s ease-in-out;
					-moz-transition: transform .2s ease-in-out;
					-webkit-transition: transform .2s ease-in-out;

					&.active {
						background-color: core.$colour-jmr-blue;
					}
				}
			}
		}
	}

	// Payment methods section
	.home_payment-methods {

		background: linear-gradient(180deg, rgb(248.17857563495636, 248.44962269067764, 255) 0%, rgb(255, 255, 255) 100%);
		padding-top: 80px;
		padding-bottom: 60px;
		gap: 40px;
		
		// Grid
		.home_payments-grid {
			display: flex;
			position: relative;
			justify-content: center;
			flex-wrap: wrap;
			gap: 60px;
			flex-direction: row;

			@media screen and (max-width: 1280px) {
				gap: 40px;
			}
			@media screen and (max-width: 680px) {
				gap: 20px;
			}

			.payment_method {
				display: block;
				height: 120px;
				width: 180px;

				@media screen and (max-width: 1280px) {
					height: 100px;
					width: 150px;
				}
			}
		}	

	}
}

