// Styling for the testimonials page

.view_testimonials {

	// Hero
	.testimonials_hero-content, .content_copy {
		align-items: center;
		width: 80% !important;

		.content_copy {
			width: 100% !important;
		}
	}
	.testimonials_hero-content {
		.content_copy-main, .content_copy-secondary {
			text-align: center;
		}
	}

	// Testimonials carousel
	.testimonials_container, .carousel {
		display: flex;
		position: relative;
		width: 120%;
		height: 380px;

		@media screen and (min-width: 1280px) {
  			scale: 1;
  		}
		@media screen and (max-width: 1280px) {
  			scale: 0.95;
  		}
  		@media screen and (max-width: 1120px) {
  			scale: 0.9;
  		}
  		@media screen and (min-width: 1120px) {
  			width: 1200px;
			height: 580px;
  		}
	}

	.carousel {
		overflow: hidden;
		flex-direction: column;
		position: relative;

		// Page
		.carousel_page {
			display: grid;
			grid-template-columns: calc(33% - 20px) calc(33% - 20px) calc(33% - 20px);
			position: absolute;
			top: 0; left: 0;
			width: 100%;
			gap: 35px;
			height: 80%;
			transform: translateX(100%);

			@media screen and (min-width: 1120px) {
	  			gap: 40px;
	  			height: auto;
	  		}

			// Transition
			transition: transform .3s ease-in-out;
			-moz-transition: transform .3s ease-in-out;
			-webkit-transition: transform .3s ease-in-out;

			&.active {
		      transform: translateX(0);
		    }

			&.slide-left {
		      transform: translateX(-100%);
		    }

		    &.slide-right {
		      transform: translateX(100%);
		    }
		}

		// Nav
		.navigation {
			display: flex;
			justify-content: center;
			gap: 10px;
			margin-top: 20px;
			position: absolute;
			bottom: 0px;
			left: calc(50% - 28px);

			.circle {
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: rgba(255, 255, 255, 0.3);
				cursor: pointer;
				// Transition
				transition: transform .2s ease-in-out;
				-moz-transition: transform .2s ease-in-out;
				-webkit-transition: transform .2s ease-in-out;

				&.active {
					background-color: #fff;
				}
			}
		}

		// Outer layer for testimonial
		.testimonial {
    		box-sizing: border-box;

    		@media screen and (min-width: 1120px) {
	    		&:has(> .active) {
					grid-column-start: 1;
					grid-column-end: 3;
					grid-row-start: 1;
					grid-row-end: 3;
				}
			}
		}

		// Testimonial block
		.testimonial span {
			display: grid;
			grid-template-columns: 100%;
			position: relative;
			border-radius: 8px;
			gap: 24px;
			padding: 24px;
			height: 100%;
			opacity: 0.85;
			cursor: pointer;

			@media screen and (min-width: 1120px) {
				grid-template-columns: calc(50% - 12px) calc(50% - 12px);
			}

			// Transition
			transition: all .1s ease-in-out;
			-moz-transition: all .1s ease-in-out;
			-webkit-transition: all .1s ease-in-out;

			&:hover {
				opacity: 1;
			}

			// Active state
			@media screen and (min-width: 1120px) {

				&.active {
					opacity: 1;
					height: 516px;
					width: 792px;

					.testimonial_photo {
						display: block !important;
						height: 222px;
						width: 360px;
					}
					.testimonial_blk {
						height: 222px;
					}
				}

				&:not(.active){
					height: 238px;
					width: 368px;

					.testimonial_content {
						display: -webkit-box;
						-webkit-line-clamp: 6;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}

			// Photo
			.testimonial_photo {
				display: none;
				background-size: cover;

				&-01 {
					grid-area: 1/1;
				}
				&-02 {
					grid-area: 2/1;
				}
				&-03 {
					grid-area: 1/2;
				}
			}

			// Block
			.testimonial_blk {
				width: 100%;
				overflow: hidden;

				@media screen and (min-width: 1120px) {
					width: 320px;
				}

				.author_photo {
					display: block;
					width: 40px;
					height: 40px;
					background-size: 100% 100%;
				}
			}

			// Specific design
			&#testimonial_01, &#testimonial_04, &#testimonial_07 {
				background-color: #FFF8F1;

				.author_country {
					color: #B97840;
				}
			}
			&#testimonial_02, &#testimonial_05, &#testimonial_08 {
				background-color: #F5F5FF;

				.author_country {
					color: #5559CD;
				}
			}
			&#testimonial_03, &#testimonial_06, &#testimonial_09 {
				background-color: #FFF7F7;

				.author_country {
					color: #E95555;
				}
			}
		}
	}
}