html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
blockquote, q {
  quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }

  // Setup the font base 
  html
  {
    font-size: 62.5%; 
    line-height: 62.5%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
  }

  b
  {
    font-weight: 800;
  }

  // Container sizing
  .ctnr_cntr {

    padding-left: 14vw;
    padding-right: 14vw;

    @media screen and (max-width: 1480px) {
      padding-left: 10vw;
      padding-right: 10vw;
    }
    @media screen and (max-width: 1000px) {
      padding-left: 8vw;
      padding-right: 8vw;
    }
    @media screen and (max-width: 680px) {
      padding-left: 6vw;
      padding-right: 6vw;
    }
    @media screen and (max-width: 320px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }