// Variables used for the website

// 01 - Colours

	// Main

	$colour-jmr-blue:		#5359E9;
	$colour-jmr-red:		#E5656A;
	$colour-jmr-yellow:		#FBA356;
	$colour-jmr-green:		#88D0E2;

	// Background Colours

	
	// Font Colours

	$font-color-dark:		#1e1e1e;
	$font-color-reg:		#333333;


// 02 - Typography

	// Fonts

	$font-title:		"Afacad", sans-serif;
	$font-copy:    		"Inter", serif;
	$font-mono:			monospace;
	$font-link:			"Inter", serif;
	$font-button:		"Afacad", sans-serif;

	html, h4 {
		font-family: "Inter", serif;

		b {
			font-weight: 600;
		}
	}
	h1, h2, h3 {
		font-family: "Afacad", sans-serif;
	}
	code {
		font-family: monospace;
	}
	a, .navbar_mobile .btn_close {
		font-family: "Inter", serif;
	}
	button, .btn {
		font-family: "Afacad", sans-serif;
	}

	// Size

	$font-size-10:      	1.0rem;
	$font-size-12:      	1.2rem;
  	$font-size-14:      	1.4rem;
	$font-size-16: 			1.6rem;
	$font-size-18:			1.8rem;
	$font-size-20:			2.0rem;
	$font-size-22:			2.2rem;
	$font-size-24:			2.4rem;
	$font-size-26:			2.6rem;

	$font-size-h1:			5.0rem;	
	$font-size-h2:			4.0rem;
	$font-size-h3:			2.4rem;
	$font-size-h4:			1.6rem;

	h1 {	font-size: 5.0rem; font-weight: 800;	}
	h2 {	font-size: 4.0rem; font-weight: 600;	}
	h3 {	font-size: 2.4rem; font-weight: 600;	}

	// Letter Spacing

	$font-spacing-title:	-0.02em;

	// Line Height

	$line-height-100:		100%;
	$line-height-120:		120%;
	$line-height-140:		140%;
