// Variables used for the website

@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// 01 - Colours

	// Main

	$colour-jmr-blue:		#5359E9;
	$colour-jmr-red:		#E5656A;
	$colour-jmr-yellow:		#FBA356;
	$colour-jmr-green:		#88D0E2;

	// Background Colours

	
	// Font Colours


// 02 - Typography

	// Fonts

	$font-title:		"Afacad", sans-serif;
	$font-copy:    		"Inter", serif;
	$font-mono:			monospace;
	$font-link:			"Inter", serif;
	$font-button:		"Afacad", sans-serif;

	html {
		font-family: $font-copy;

		b {
			font-weight: 600;
		}
	}
	h1, h2, h3, h4 {
		font-family: $font-title;
	}
	code {
		font-family: $font-mono;
	}
	a {
		font-family: $font-link;
	}
	button, .btn {
		font-family: $font-button;
	}

	// Size

	$font-size-10:      	1.0rem;
	$font-size-12:      	1.2rem;
  	$font-size-14:      	1.4rem;
	$font-size-16: 			1.6rem;
	$font-size-18:			1.8rem;
	$font-size-20:			2.0rem;
	$font-size-22:			2.2rem;
	$font-size-24:			2.4rem;

	$font-size-h1:			5.0rem;	
	$font-size-h2:			4.0rem;
	$font-size-h3:			$font-size-24;

	h1 {	font-size: $font-size-h1; font-weight: 800;	}
	h2 {	font-size: $font-size-h2; font-weight: 600;	}
	h3 {	font-size: $font-size-h3; font-weight: 600;	}

	// Letter Spacing

	$font-spacing-title:	-0.02em;

	// Line Height

	$line-height-100:		100%;
	$line-height-120:		120%;
	$line-height-140:		140%;
