// Variables used for the website

@use 'sass:color';

// 01 - Colours

	// 01-1 - Background Colours

	
	// 01-2 - Font Colours


// 02 - Typography

	// 01 - Fonts

	$font-title:		sans-serif;
	$font-copy:    		sans-serif;
	$font-mono:			monospace;
	$font-link:			sans-serif;

	// 02 - Size

	$font-size-10:      	1.0rem;
	$font-size-12:      	1.2rem;
  	$font-size-14:      	1.4rem;
	$font-size-16: 			1.6rem;
	$font-size-18:			1.8rem;
	$font-size-20:			2.0rem;
	$font-size-22:			2.2rem;
	$font-size-24:			2.4rem;
	$font-size-h1:			5.0rem;	
	$font-size-h2:			4.0rem;

	// 03 - Weight

	$font-weight-200:				200;
	$font-weight-400:				400;
	$font-weight-500:				500;
	$font-weight-600:				600;
	$font-weight-800:				800;

	// 04 - Letter Spacing

	$font-spacing-title:	-0.02em;
