// Forms styling

.form_view {

	// Global styling
	display: flex;
	position: relative;
	align-items: center;
	flex-direction: column;
	gap: 48px;
	justify-content: center;
	padding: 60px 64px 0px;

	@media screen and (max-width: 680px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	@media screen and (max-width: 520px) {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	// Title
	&-title {
		display: flex;
		position: relative;
		align-items: center;
		align-self: stretch;
		flex-direction: column;
		gap: 10px;
		width: 100%;

		@media screen and (max-width: 520px) {
			padding-left: 20px;
			padding-right: 20px;
		}

		.quotation-intro {
			font-size: $font-size-16;
			line-height: $line-height-140;
		}
	}

	// Form
	&-form {
		display: flex;
		position: relative;
		align-items: center;
		background-color: #ffffff;
		border-radius: 6px 6px 0px 0px;
		box-shadow: 0px -2px 25px rgba(0,0,0,0.25);
		flex-direction: column;
		gap: 30px;
		padding: 60px;

		@media screen and (max-width: 520px) {
			border-radius: 0px;
			padding: 30px;
		}

		.form {
			display: flex;
			position: relative;
			align-items: flex-start;
			flex-direction: column;
			gap: 15px;
			width: 100%;

			// Input
			.form-input {
				display: flex;
				position: relative;
				align-items: flex-start;
				align-self: stretch;
				flex-direction: column;
				gap: 8px;
				width: 100%;
				font-size: $font-size-14;

				// Label
				.input-label {
					font-weight: 600;
					color:$font-color-reg;
				}

				// Body - Regular text input
				.input-body {
					display: flex;
					position: relative;
					border: 1px solid #cbcbcb;
					border-radius: 4px;
					gap: 10px;
					padding: 10px 40px 10px 10px;
					width: 100%;
					line-height: $line-height-120;	
				}

				// Body - Textarea input
				textarea.input-body {
					line-height: $line-height-140;
				}

				// Radio input
				.input-radio {
					display: flex;
					position: relative;
					align-items: flex-start;
					background-color: #f3f3f3;
					border-radius: 4px;
					flex-wrap: wrap;
					gap: 12px 12px;
					padding: 20px;
					width: 100%;

					&:has(+ .input-error) {
						background-color: #FFEFEF;
					}

					.radio-item {
						display: inline-flex;
						position: relative;
						align-items: flex-start;
						background-color: #eeeeee;
						border: 1px solid #d8d8d8;
						border-radius: 6px;
						flex-direction: row;
						padding: 6px 20px 6px 12px;
						gap: 10px;
						min-height: 30px;

						.radio-cta, .label-main {
							cursor: pointer;
						}

						// Label
						.radio-label {
							display: flex;
							flex-direction: column;
							gap: 4px;
							position: relative;

							.label-main {
								font-weight: 500;
							}
							.label-secondary {
								font-size: $font-size-12;
								color: #757575;
							}
						}
					}
				}

				// Error
				.input-error {
					font-size: $font-size-12;
					color: #F76565;
				}
			}

			// Double input
			.double-input {
				display: flex;
				position: relative;
				align-items: flex-start;
				align-self: stretch;
				flex-direction: row;
				gap: 20px;
				width: 100%;
				font-size: $font-size-14;
			}

			// Form success
			.form-success {
				display: flex;
				font-size: $font-size-14;
				font-weight: 400;
				padding: 20px;
				width: 100%;
				background: rgba(81,191,220,0.2);
				border-radius: 4px;
				color: #2C7A8E;
				opacity: 1;

				// Transition
				transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-webkit-transition: all .2s ease-in-out;

				&:before {
					content: url("../../img/form_tick-icon_green.svg");
					display: block;
					padding-right:10px;
				}
				b {
					padding-left: 5px;
					padding-right: 5px;
					font-weight: 600;
					color: #205d6c;
				}
			}

			// Submit button
			input.btn {
				color: #fff;
				width: 100%;
				cursor: pointer;
			}
		}
	}
}