// Global styling
.hero {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	align-self: stretch;
	justify-content: center;

	.hero_content {

		display: flex;
		flex-direction: column;
		gap: 30px;

		@media screen and (max-width: 820px) {
	      width: 100%;
	      align-items: center;
	    }

		.content_copy {
			display: flex;
		  	flex-direction: column;
		  	gap: 24px;
		  	color: #fff;
			max-width: 40vw;

			@media screen and (max-width: 1480px) {
		      	max-width: 50vw;
		    }
		    @media screen and (max-width: 820px) {
				max-width: 100%;
				align-items: center;
				text-align: center;
		    }


			// Main
			&-main {
			    @media screen and (max-width: 1480px) {
			      font-size: 4.6rem;
			    }
			    @media screen and (max-width: 1000px) {
			      font-size: 4rem;
			    }
			    @media screen and (max-width: 680px) {
			      font-size: 3.8rem;
			    }
			    @media screen and (max-width: 480px) {
			      font-size: 3.2rem;
			    }
			}
			// Secondary
			&-secondary {
				font-size: $font-size-18;
				line-height: $line-height-140;
				width: 80%;

				@media screen and (max-width: 1000px) {
					width: 90%;
				}

				b {
					color: #fff;
				}
			}
		}

		.content_ctas {
			display: inline-flex;
		  	flex: 0 0 auto;
		  	gap: 15px;
		}

	}

	.hero_visual {
		width: 40vw;

		img, svg {
			width: 100%;
			height: auto;
		}
	}

}


// 01 - Homepage hero
.home_hero {
	gap: 60px;
	min-height: 532px;
	background: linear-gradient(280deg, rgb(98.35181728005409, 103.72326985001564, 246.60389453172684) 0%, rgb(117.00000062584877, 122.00000032782555, 255) 17.499999701976776%, rgb(64.65957999229431, 68.8354267179966, 179.91262435913086) 88.49999904632568%);
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;

	@media screen and (max-width: 1000px) {
		gap: 20px;
	}

	@media screen and (max-width: 820px) {
		min-height: unset;
		flex-direction: column;
		padding: 30px 10px 140px 10px !important;

		.hero_content {
			z-index: 10;
			padding: 20px;
			border-radius: 50px;
			background: linear-gradient(280deg,rgba(90, 95, 221, 0.29),#494ed75c,rgba(28, 32, 136, 0.19));

			.content_copy-secondary {
				width: 100%;
				max-width: 100%;
			}
		}

		.hero_visual {
			position: absolute;
			bottom: -5px;
			width: 420px;

			svg {
				opacity: 0.8;
			}
		}
    }

	// Content
	.content_copy-secondary {
		color: #BBBDFF;
	}
}

// 02 - Services page hero(s)

// Global styling
.services_hero {

	.hero_content {
		display: none;
		position: relative;
		align-items: center;
		flex-direction: row;
		gap: 80px;
		justify-content: center;
		padding-top: 60px;
		padding-bottom: 60px;

		@media screen and (max-width: 980px) {
			gap: 40px;
		}
	}

	.hero_visual {
		display: block;

		@media screen and (max-width: 980px) {
			width: 25vw !important;
		}
		@media screen and (max-width: 820px) {
	      display: none;
	    }
		@media screen and (max-width: 680px) {
			display: none !important;
		}
	}

	.hero_copy {

		display: flex;
		position: relative;
		align-items: flex-start;
		flex-direction: column;
		gap: 20px;
		width: 34vw;

		@media screen and (max-width: 980px) {
			width: 50vw;
		}
		@media screen and (max-width: 680px) {
			width: 80vw;
		}

		&-title {
			color: $font-color-dark;
		}
		&-body-1, &-body-2 {
			color: $font-color-reg;
			font-size: $font-size-16;
			line-height: $line-height-140;
		}
	}

}

// Individual styling
.services_view-packages {
	#packages {
		display: flex;
		padding-bottom: 40px;

		.hero_visual {
			background: url("../../img/services_hero-packages.svg") no-repeat; background-size: contain;
			height: 310px;
			width: 318px;

			@media screen and (max-width: 980px) {
				height: 220px;
			}
		}
	}
}
.services_view-calls {
	#calls {
		display: flex;

		.hero_visual {
			background: url("../../img/services_hero-calls.svg") no-repeat; background-size: contain;
			height: 290px;
			width: 295px;

			@media screen and (max-width: 980px) {
				height: 220px;
			}
		}
	}
}
.services_view-letter {
	#letter {
		display: flex;
		padding-bottom: 30px;

		.hero_visual {
			background: url("../../img/services_hero-letter.svg") no-repeat; background-size: contain;
			height: 296px;
			width: 306px;

			@media screen and (max-width: 980px) {
				height: 220px;
			}
		}
	}
}
.services_view-reservations {
	#reservations {
		display: flex;
		padding-bottom: 30px;

		.hero_visual {
			background: url("../../img/services_hero-flighthotel.svg") no-repeat; background-size: contain;
			height: 294px;
			width: 336px;

			@media screen and (max-width: 980px) {
				height: 220px;
			}
		}
	}
}
.services_view-appointment {
	#appointment {
		display: flex;

		.hero_visual {
			background: url("../../img/services_hero-appointment.svg") no-repeat; background-size: contain;
			height: 296px;
			width: 306px;

			@media screen and (max-width: 980px) {
				height: 220px;
			}
		}
	}
}


// 03 - Process page hero
.process_hero {
	gap: 60px;
	min-height: 520px;
	background: linear-gradient(280deg, rgb(255, 108.46967875957489, 134.9510657787323) 0%, rgb(255, 119.23177286982536, 143.76818865537643) 17.499999701976776%, rgb(255, 88.97101745009422, 119.40966412425041) 88.49999904632568%);
	padding-top: 100px;
	padding-bottom: 80px;

	@media screen and (max-width: 1000px) {
		gap: 20px;
    }

	@media screen and (max-width: 820px) {
		min-height: unset;
		padding-top: 60px;
		padding-bottom: 60px;
    }

	// Content
	.content_copy-main {
		max-width: 80%;
	}
	.content_copy-secondary {
		color: #FFC4C4;
		max-width: 90% !important;
	}

	// Visual (Right)
	&-visual {

		width: 40vw;

		@media screen and (max-width: 820px) {
	      display: none;
	    }

		img {
			width: 100%;
			height: auto;
		}

	}
}

// 04 - About page hero
.about_hero {
	min-height: 580px;
	background: url("../../img/about_hero-background@2x.jpg") no-repeat;
	background-size: cover;
	background-position: center;

	padding-top: 80px;
	padding-bottom: 100px;

	&-content {
		width: 100%;
	}

	// Content
	.content_copy {

		max-width: 50vw;

		&-main {
			max-width: 80%;
		}
		&-secondary {
			color: #DDD2DD;
		}
	}

	// Approval rate item
	.approval_rate {

		display: inline-flex;
		position: relative;
		align-items: center;
		background-color: rgba(255,255,255,0.2);
		border-radius: 50px;
		box-shadow: 0px 1px 20px rgba(0,0,0,0.1);
		gap: 15px;
		padding: 10px 20px;
		width: 435px;

		// Copy
		&-copy {
			display: inline-flex;
			position: relative;
			gap: 5px;
			flex-direction: row;
			line-height: $line-height-140;

			.main {
				font-size: $font-size-16;
				font-weight: 600;
				color: #fff;
			}
			.secondary {
				font-size: $font-size-14;
				color: #D2C9DD;
			}
		}

		// Chart
		&-chart {
			display: flex;
			flex-direction: row;
			position: relative;
			align-items: center;
			background-color: rgba(255,255,255,0.5);
			height: 26px;
			width: 104px;
			border-radius: 30px;
			overflow: hidden;

			// Chart bar
			.chart {
				display: inline-flex;
				flex-direction: row;
				align-items: center;
				position: relative;
				height: 24px;
				background: linear-gradient(180deg, rgb(123.28408822417259, 100.25364562869072, 253.78990173339844) 0%, rgb(83.42135444283485, 88.82990822196007, 232.69741594791412) 100%);
				border-radius: 30px;
				margin-left: 1px;
				font-size: $font-size-16;
				font-weight: 600;
				color: #fff;
				padding: 0 14%;
				float: right;
				width: 88%;
				overflow: hidden;

  				animation-duration: 1s;
  				animation-name: grow-percentage;
  				animation-timing-function: ease-in-out;

				@keyframes grow-percentage {
				  0% {
				    width: 0%;
				    opacity: 0.2;
				  }

				  100% {
				     opacity: 1;
				  }
				}

				// Icon
				&:before {
					content: url("../../img/tick_icon-white.svg");
					display: block;
					padding-right:6px;
				}
			}
		}
	}

	// Legend
	.hero_legend {
		display: inline-flex;
		position: absolute;
		background-color: rgba(38,23,38,0.5);
		border-radius: 40px;
		gap: 10px;
		justify-content: flex-end;
		align-items: center;
		padding: 10px 20px 8px 20px;
		right: 10vw;
		bottom: 8vh;
		opacity: 0.75;
		// Transition
		transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-webkit-transition: all .3s ease-in-out;

		&:hover {
			opacity: 1;
		}

		.main, .secondary {
			display: inline-flex;
			flex-direction: row;
			align-items: center;
			position: relative;
			line-height: $line-height-140;
			font-size: $font-size-16;
		}

		.main {

			color: #fff;
			font-weight: 600;

			// Icon
			&:before {
				content: url("../../img/map_pointer-icon.svg");
				display: block;
				padding-right:10px;
				padding-top: 2px;
			}
		}
		.secondary {
			color: #C4ACBA;
			font-style: italic;
		}
	}
}

// 05 - Testimonials page hero
.testimonials_hero {
	min-height: 820px;
	background: url("../../img/testimonials_hero-background@2x.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	flex-direction: column;
	justify-content: flex-start;
	padding-top: 80px;
	padding-bottom: 100px;
	gap: 40px;
	
	&-content {
		width: 100%;
		align-items: center;

		.content_copy {
			align-items: center;

			&-secondary {
				text-align: center;
			}
		}
	}
}

// 06 - Contact page hero
.contact_hero {
	gap: 60px;
	min-height: 460px;
	background: linear-gradient(280deg, rgb(98.35181728005409, 103.72326985001564, 246.60389453172684) 0%, rgb(117.00000062584877, 122.00000032782555, 255) 17.499999701976776%, rgb(64.65957999229431, 68.8354267179966, 179.91262435913086) 88.49999904632568%);
	padding-top: 100px;
	padding-bottom: 80px;

	@media screen and (max-width: 820px) {
		min-height: unset;
		padding-top: 60px;
		padding-bottom: 60px;
    }

	// Content
	.content_copy-secondary {
		color: #BBBDFF;
	}

	// Visual (Right)
	&-visual {

		@media screen and (max-width: 820px) {
	      display: none;
	    }

	}
}

