// Styles below are for the navbar

// 01 - Main navbar
.navbar {

	// Position
	position: relative;
	top:0px;
	left: 0px;
	right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	// Display
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;

  	@media screen and (max-width: 1000px) {
		padding-top: 20px;
		padding-bottom: 20px;
    }


	// Logo
	.logo_jmr {

		height: 60px;
		width:auto;
		// Logo visual
		&-img {
			height: 60px;
			width:auto;
		}

		@media screen and (max-width: 1000px) {
			height: 40px;
			&-img {
				height: 40px;
			}
	    }
	}

	// Menu
	&_menu {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 60vw;
		height: 32px;

		@media screen and (max-width: 1000px) {
			max-width: 80vw;
	    }
		@media screen and (max-width: 680px) {
	      display: none;
	    }

		// Menu item
		&-item {

			padding: 8px;
			border-radius: 8px;

			a {
				font-size: $font-size-16;
				padding: 8px;
				border-radius: 8px;

				@media screen and (max-width: 1000px) {
					font-size: $font-size-14;
					padding: 6px;
					border-radius: 6px;
			    }

				// Hover & Active
				&:hover, &:active, &:focus {
					background-color: #F7F7FD;
				}
				&.active {
					background-color: #F7F7FD;
					font-weight: 500;
				}
			}
		}
	}

	// Mobile menu (hamburger)
	.mobile_menu-cta {
		display: block;
		cursor: pointer;
		padding: 6px;
		border-radius: 6px;

		&:hover, &:active, &:focus {
			background-color: #F5F5F5;
		}

		@media screen and (min-width: 680px) {
	      display: none;
	    }
	}
}

// 02 - Mobile navbar
.navbar_mobile {

	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
	z-index: 100;
	// Transition
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;

	.navbar_wrapper {
		z-index: 110;
		position: absolute;
		right: 0px;
		top: 0px;
		bottom: 0px;
		width: 50vw;
		height: 100%;
		overflow: hidden;
		background-color: #fff;
		transform: translateX(52vw);
	    // Transition
	    transition: all .4s ease-in-out;
	    -moz-transition: all .4s ease-in-out;
	    -webkit-transition: all .4s ease-in-out;
	}

	&.active {
		display: block;
		background-color: rgba(0,0,0,0.6);

		.navbar_wrapper {
			transform: translateX(0px);
		}
	}
	
}


// 03 - Service Navbar
.services_subnav {

	position: relative;
	top: 0px;
  	left: 0px;
  	right: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	background-color: #ecedff;
	flex-wrap: wrap;
	gap: 14px;
	overflow: hidden;
	height: 64px;

	@media screen and (min-width: 1400px) {
		gap: 20px;
    }
    @media screen and (max-width: 1040px) {
		gap: 10px;
    }

	.subnav_root {
		font-size: $font-size-16;
		font-weight: 600;
		color: $font-color-dark;
		padding-top: 24px;

		@media screen and (min-width: 1400px) {
			font-size: $font-size-18;
			padding-top: 22px;
	    }
	    @media screen and (max-width: 1040px) {
			font-size: $font-size-14;
			padding-top: 26px;
	    }
	}

	.subnav_menu {
		position: relative;
		display: flex;
		flex-direction: row;

		li.subnav_menu-item a {
			position: relative;
			display: inline-flex;
			border-bottom: 4px solid transparent;
			gap: 8px;
			justify-content: center;
			padding: 26px 8px 20px 8px;
			font-size: $font-size-14;
			color: $font-color-dark;

			@media screen and (min-width: 1400px) {
				padding: 24px 12px 20px 12px;
				font-size: $font-size-16;
		    }
		    @media screen and (max-width: 1040px) {
				padding: 28px 6px 20px 6px;
				font-size: $font-size-12;
		    }

			// Transition
			transition: background-color .2s ease-in-out;
			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;

			&:hover {
				background-color: #E5E6FF;
				border-color: #E5E6FF;
			}

			&.active {
				background-color: #E5E6FF;
				border-color: #e5656a;
				color: #e5656a;
				font-weight: 600;
			}
		}
	}

}
