// Styles below are for the navbar

.navbar {

	// Position
	position: relative;
	top:0px;
	left: 0px;
	right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	// Display
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;


	// Logo
	.logo_jmr {

		height: 60px;
		width:auto;
		// Logo visual
		&-img {
			height: 60px;
			width:auto;
		}
	}

	// Menu
	&_menu {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 60vw;
		height: 32px;

		// Menu item
		&-item {

			padding: 8px;
			border-radius: 8px;

			a {
				font-size: $font-size-16;
				padding: 8px;
				border-radius: 8px;

				// Hover & Active
				&:hover, &:active, &:focus {
					background-color: #F5F5F5;
				}
				&:active, &:focus {
					font-weight: 500;
				}
			}
		}
	}
}