// Styles below are for the navbar

.navbar {

	// Position
	position: relative;
	top:0px;
	left: 0px;
	right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	// Display
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
  	align-items: center;

  	@media screen and (max-width: 1000px) {
		padding-top: 20px;
		padding-bottom: 20px;
    }


	// Logo
	.logo_jmr {

		height: 60px;
		width:auto;
		// Logo visual
		&-img {
			height: 60px;
			width:auto;
		}

		@media screen and (max-width: 1000px) {
			height: 40px;
			&-img {
				height: 40px;
			}
	    }
	}

	// Menu
	&_menu {

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		max-width: 60vw;
		height: 32px;

		@media screen and (max-width: 1000px) {
			max-width: 80vw;
	    }
		@media screen and (max-width: 680px) {
	      display: none;
	    }

		// Menu item
		&-item {

			padding: 8px;
			border-radius: 8px;

			a {
				font-size: $font-size-16;
				padding: 8px;
				border-radius: 8px;

				@media screen and (max-width: 1000px) {
					font-size: $font-size-14;
					padding: 6px;
					border-radius: 6px;
			    }

				// Hover & Active
				&:hover, &:active, &:focus {
					background-color: #F5F5F5;
				}
				&:active, &:focus {
					font-weight: 500;
				}
			}
		}
	}

	// Mobile menu (hamburger)
	.mobile_menu {
		display: block;
		cursor: pointer;

		@media screen and (min-width: 680px) {
	      display: none;
	    }
	}
}