// Quotation

.services_quotation {

	// Global styling
	background: linear-gradient(180deg, rgb(255, 139.42339539527893, 38.293839767575264) 16.500000655651093%, rgb(255, 187.39720433950424, 70.6287556886673) 100%);

	// Title
	&-title {
		color: #fff;

		.quotation-title {
			text-align: center;
		}

		.quotation-intro {
			color: rgba(255,255,255,0.9);
			text-align: center;

			b {
				color: #fff;
			}
		}
	}

	// Form
	&-form {

		width: 60%;

		@media screen and (max-width: 1520px) {
			width: 65%;
		}
		@media screen and (max-width: 1280px) {
			width: 75%;
		}
		@media screen and (max-width: 1058px) {
			width: 100%;
		}

		.quotation-form {

			// Input
			.form-input {

				textarea.input-body {
					min-height: 100px;
				}

				// Radio input
				.input-radio {

					.radio-item {

						&:has(> .radio-cta:checked) {
							border-color:#FBA356;
							background-color: #F4EAE2;
						}

						// Radio input style
						.radio-cta:checked {
							filter: hue-rotate(310deg);
						}
					}
				}
			}

			// Submit button
			input.btn {
				color: #fff;
				width: 100%;
				cursor: pointer;
			}
		}
	}
}